<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  </head>
  <body>
<div class="container">
<div class="header clearfix">
<nav>
  <ul class="nav nav-pills float-right">
    <li class="nav-item">
      <a class="nav-link" href="/">Caja</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productsFilter?module=Productos&route=products">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productsFilter?module=Inventario&route=stock">Inventario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sales">Ventas</a>
    </li>
  </ul>
</nav>
</div>
      